# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual environments
venv/
.venv/
env/
.env
.env.*

# Django
*.log
db.sqlite3
*.sqlite3
staticfiles/
media/

# Cache & tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
build/
dist/
*.egg-info/
__pypackages__/
pip-wheel-metadata/
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archives
*.zip
*.tar.gz
*.tgz
